.DS_Store
.RData
.Rhistory
.Rapp.history
.Rproj.user/
Rplots.pdf
*.log
*.out
*.err
*.pdf
*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.vcf
*.vcf.gz
*.bcf
*.bed
*.bim
*.fam
*.eigenvec
*.eigenval
*.Q
*.P
__pycache__/
test_scripts/
